.body-bg {
    background-image: url("Screenshot 2025-01-19 212628.png");
    background-size: cover;
}

.about-bg { 
    background-image: url("303.jpg");
    background-size: cover;

}

.intro { 
    color: #4deaff;
font-family: 'Lucida Sans', 'Lucida Grande', 'Geneva', 'Verdana';
}

#welcome { 
    color: #ffffff;
font-family: 'Book Antiqua', 'Palatino', 'Lucida Sans', 'Lucida Grande', 'Geneva', 'Verdana';
}
#about-me {
    color: #ffffff;
    font-family: 'Book Antiqua', 'Palatino', 'Geneva', 'Verdana', 'Lucida Sans', 'Lucida Grande';
}

.full-height {
    height: 50vh;
}

.job-titles{ text-align: center;
    color: #4deaff;

}

.footer{text-align: center;
    color: #4deaff;

}

.footer2 {
    text-align: center;
    color: #ffffff;

}

.hide {
    display:none;

}

#centerskills{text-align: center;

}
#skills{
    color: #ffffff;
}

#projectcolor{
    background-color: #023b3b;
}

#fontcolor{color: #ffffff;

} 

.height {
    height: 10vh;
    text-align: center;
}

#definition {font-size: 18px;
    color: #ffffff;
font-family: 'Geneva', 'Verdana', 'Lucida Sans', 'Lucida Grande';}